{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Admin Panel{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
<style>
.profile {
margin-left: 40px;
padding-left: 1em;
border-top: 1px solid #eeeeee;
}
.profile a{
text-decoration: none;
background-color: transparent;
}
</style>
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Admin Panel</h1>
  </div>
<div class="row" style="margin-top: 2em">
    <div class="col-md-3">
        {% include 'useradmin/partial_admin_menu.html' with active='approve' %}
    </div>
    <div class="col-md-9">
        <h3 style="margin-top: 0">Approve New Accounts</h3>
        <section class="profiles">
            {% for profile in unapproved_profiles %}
            <div class="profile">
                <h3>
                    <address>
                        <strong><a href="{% url 'profile' shop.user.username%}">{{profile.name}}</a></strong><br>
                        {{profile.address.line1}}, {{profile.address.line2}}
                        {{profile.address.city}}, {{profile.address.state}}
                        {{profile.address.country}}, {{profile.address.pincode}}<br>
                        <abbr title="Phone">P:</abbr> {{profile.address.contactno}}
                    </address>
                </h3>
            </div>
            {% endfor %}
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=unapproved_profiles %}
            </div>
        </div>
    </div>
    </div>
    {% endblock main %}
