{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Admin Panel{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Admin Panel</h1>
  </div>
<div class="row" style="margin-top: 2em">
    <div class="col-md-3">
        {% include 'useradmin/partial_admin_menu.html' with active='shop' %}
    </div>
    <div class="col-md-9">
        <h3 style="margin-top: 0">Shop list</h3>
        <section class="profiles">
            {% for shop in shops %}
            <div class="shop">
                <h2><a href="{% url 'profile' shop.user.username%}">{{shop.name}}-{{shop.license_id}}</a></h2>
            </div>
            {% endfor %}
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=shops %}
            </div>
        </div>
    </div>
    </div>
    {% endblock main %}
