{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Admin {% endblock %}

{% block head %}
<link href="{% static 'css/usercompany.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Company Heading</h1>
  </div>
<div class="row" style="margin-top: 2em">
    <div class="col-md-3">
        {% include 'usercompany/partial_company_menu.html' with active='approve' %}
    </div>
    <div class="col-md-9">

    </div>
    </div>
    {% endblock main %}
