{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Company Panel{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Company Panel</h1>
</div>
<div class="row" style="margin-top: 2em">
    <div class="col-md-3">
        {% include 'usercompany/partial_company_menu.html' with active='company' %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-5">
                <h3 style="margin-top: 0">Stocks</h3>
            </div>
            <div class="col-md-7">
                <form role="search" action="{% url 'view_stock_company' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search" value="{{ querystring }}">
                        <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </span>
                    </div>
                </form>
            </div>
        </div>
        <section class="stocks">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>batch_no</th>
                    <th>medicine</th>
                    <th>mfd_date</th>
                    <th>exp_date</th>
                    <th>price</th>
                    <th>Available</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}

                <tr>
                    <th scope="row">{{stock.pk}}</th>
                    <td>{{stock.batch_no}}</td>
                    <td>{{stock.medicine.name}}</td>
                    <td>{{stock.mfd_date}}</td>
                    <td>{{stock.exp_date}}</td>
                    <td>{{stock.price}}</td>
                    <td>{{stock.get_available}}</td>
                    <td>
                        <a href="{% url 'edit_stock_company' pk=stock.pk %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Edit
                        </a>
                        <a href="{% url 'delete_stock_company' pk=stock.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Delete
                        </a>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=stocks %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
